						<table class="viewSubTable">
							<thead>
								<tr>
									<th scope="col" width="520px">Source Context</th>
									<!--th scope="col">Machine Translation of Context</th-->
									<th scope="col" width="90px">Content Type</th>
								</tr>
							</thead>
							{% for context in contexts %}
								<tr class="{{ loop.cycle('oddRow', 'evenRow') }}">
									<td scope="row">{{ context['SourceContext'] }}</td>
									<!--td scope="row">{{ context['MTofContext'] }}</td-->
									<td scope="row" align="center">{{ context['ContentType'] }}</td>
								</tr>
							{% endfor %}
						</table>
